-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: museum_db
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `collection`
--

DROP TABLE IF EXISTS `collection`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `collection` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '涓婚敭ID',
  `collection_no` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '钘忓搧缂栧彿',
  `name` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '钘忓搧鍚嶇О',
  `category` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '钘忓搧鍒嗙被',
  `era` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '骞翠唬',
  `material` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '鏉愯川',
  `dimensions` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '灏哄?',
  `weight` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '閲嶉噺',
  `status` int DEFAULT '1' COMMENT '鏀惰棌鐘舵?锛?=姝ｅ父 2=鍊熷嚭 3=淇??涓?4=灞曞嚭',
  `storage_id` bigint DEFAULT NULL COMMENT '瀛樻斁浣嶇疆锛堝簱鎴縄D锛',
  `description` text COLLATE utf8mb4_unicode_ci COMMENT '钘忓搧鎻忚堪',
  `image_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '钘忓搧鍥剧墖',
  `creator_id` bigint DEFAULT NULL COMMENT '鐧昏?浜',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '鍒涘缓鏃堕棿',
  `update_time` datetime DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP COMMENT '鏇存柊鏃堕棿',
  `status2` int DEFAULT '1' COMMENT '鐘舵?锛?=姝ｅ父 0=绂佺敤',
  `remark` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '澶囨敞',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_collection_no` (`collection_no`),
  KEY `idx_category` (`category`),
  KEY `idx_status` (`status`),
  KEY `idx_storage_id` (`storage_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='钘忓搧琛';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `collection`
--

LOCK TABLES `collection` WRITE;
/*!40000 ALTER TABLE `collection` DISABLE KEYS */;
/*!40000 ALTER TABLE `collection` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `collection_category`
--

DROP TABLE IF EXISTS `collection_category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `collection_category` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '分类ID',
  `parent_id` bigint NOT NULL DEFAULT '0' COMMENT '父分类ID',
  `name` varchar(128) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '分类名称',
  `code` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '分类编码',
  `sort` int NOT NULL DEFAULT '0' COMMENT '排序',
  `status` tinyint NOT NULL DEFAULT '1' COMMENT '状态：1-正常 0-禁用',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT '逻辑删除：0-未删除 1-已删除',
  PRIMARY KEY (`id`),
  KEY `idx_parent_id` (`parent_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='藏品分类表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `collection_category`
--

LOCK TABLES `collection_category` WRITE;
/*!40000 ALTER TABLE `collection_category` DISABLE KEYS */;
/*!40000 ALTER TABLE `collection_category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `collection_info`
--

DROP TABLE IF EXISTS `collection_info`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `collection_info` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '藏品ID',
  `category_id` bigint DEFAULT NULL COMMENT '分类ID',
  `name` varchar(256) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '藏品名称',
  `code` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '藏品编号',
  `era` varchar(128) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '年代',
  `material` varchar(256) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '材质',
  `dimensions` varchar(256) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '尺寸',
  `weight` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '重量',
  `description` text COLLATE utf8mb4_unicode_ci COMMENT '描述',
  `image_url` varchar(512) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '图片URL',
  `status` tinyint NOT NULL DEFAULT '1' COMMENT '状态：1-在库 2-展出 3-修复中 4-借出',
  `location` varchar(256) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '存放位置',
  `creator_id` bigint DEFAULT NULL COMMENT '录入人ID',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT '逻辑删除：0-未删除 1-已删除',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_code` (`code`),
  KEY `idx_category_id` (`category_id`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='藏品信息表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `collection_info`
--

LOCK TABLES `collection_info` WRITE;
/*!40000 ALTER TABLE `collection_info` DISABLE KEYS */;
/*!40000 ALTER TABLE `collection_info` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `environment_data`
--

DROP TABLE IF EXISTS `environment_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `environment_data` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '涓婚敭ID',
  `storage_id` bigint NOT NULL COMMENT '搴撴埧ID',
  `storage_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '搴撴埧鍚嶇О',
  `temperature` decimal(5,2) DEFAULT NULL COMMENT '娓╁害(鈩?',
  `humidity` decimal(5,2) DEFAULT NULL COMMENT '婀垮害(%)',
  `light` decimal(10,2) DEFAULT NULL COMMENT '鍏夌収搴?lux)',
  `uv` decimal(10,2) DEFAULT NULL COMMENT '绱??绾挎寚鏁',
  `co2` decimal(10,2) DEFAULT NULL COMMENT 'CO2娴撳害(ppm)',
  `pm25` decimal(10,2) DEFAULT NULL COMMENT 'PM2.5(渭g/m鲁)',
  `formaldehyde` decimal(10,2) DEFAULT NULL COMMENT '鐢查啗娴撳害(mg/m鲁)',
  `alert_level` int DEFAULT '0' COMMENT '鍛婅?绛夌骇锛?=姝ｅ父 1=鎻愰啋 2=璀﹀憡 3=涓ラ噸',
  `record_time` datetime DEFAULT NULL COMMENT '璁板綍鏃堕棿',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '鍒涘缓鏃堕棿',
  PRIMARY KEY (`id`),
  KEY `idx_storage_id` (`storage_id`),
  KEY `idx_record_time` (`record_time`),
  KEY `idx_alert_level` (`alert_level`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='鐜??鐩戞祴鏁版嵁琛';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `environment_data`
--

LOCK TABLES `environment_data` WRITE;
/*!40000 ALTER TABLE `environment_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `environment_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inbound`
--

DROP TABLE IF EXISTS `inbound`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inbound` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '涓婚敭ID',
  `inbound_no` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '鍏ュ簱鍗曞彿',
  `collection_id` bigint DEFAULT NULL COMMENT '钘忓搧ID',
  `collection_name` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '钘忓搧鍚嶇О',
  `collection_no` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '钘忓搧缂栧彿',
  `quantity` int DEFAULT '1' COMMENT '鏁伴噺',
  `source` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '鏉ユ簮',
  `storage_id` bigint DEFAULT NULL COMMENT '鍏ュ簱搴撴埧',
  `handler` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '缁忔墜浜',
  `inbound_date` date DEFAULT NULL COMMENT '鍏ュ簱鏃ユ湡',
  `status` int DEFAULT '0' COMMENT '鐘舵?锛?=寰呭?鏍?1=宸插叆搴?2=宸叉嫆缁',
  `remark` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '澶囨敞',
  `applicant_id` bigint DEFAULT NULL COMMENT '鐢宠?浜',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '鍒涘缓鏃堕棿',
  `update_time` datetime DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP COMMENT '鏇存柊鏃堕棿',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_inbound_no` (`inbound_no`),
  KEY `idx_status` (`status`),
  KEY `idx_storage_id` (`storage_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='鍏ュ簱璁板綍琛';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inbound`
--

LOCK TABLES `inbound` WRITE;
/*!40000 ALTER TABLE `inbound` DISABLE KEYS */;
/*!40000 ALTER TABLE `inbound` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventory_record`
--

DROP TABLE IF EXISTS `inventory_record`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventory_record` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '涓婚敭ID',
  `task_id` bigint NOT NULL COMMENT '鐩樼偣浠诲姟ID',
  `collection_id` bigint DEFAULT NULL COMMENT '钘忓搧ID',
  `collection_no` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '钘忓搧缂栧彿',
  `collection_name` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '钘忓搧鍚嶇О',
  `is_found` int DEFAULT '1' COMMENT '鏄?惁鎵惧埌锛?=鎵惧埌 0=缂哄け',
  `rfid_status` int DEFAULT NULL COMMENT 'RFID鐘舵?锛?=姝ｅ父 2=鎹熷潖 3=缂哄け',
  `remark` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '澶囨敞',
  `check_time` datetime DEFAULT NULL COMMENT '鐩樼偣鏃堕棿',
  `checker_id` bigint DEFAULT NULL COMMENT '鐩樼偣浜',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '鍒涘缓鏃堕棿',
  PRIMARY KEY (`id`),
  KEY `idx_task_id` (`task_id`),
  KEY `idx_collection_id` (`collection_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='鐩樼偣璁板綍琛';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventory_record`
--

LOCK TABLES `inventory_record` WRITE;
/*!40000 ALTER TABLE `inventory_record` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory_record` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventory_task`
--

DROP TABLE IF EXISTS `inventory_task`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventory_task` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '涓婚敭ID',
  `task_no` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '浠诲姟缂栧彿',
  `task_name` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '浠诲姟鍚嶇О',
  `storage_id` bigint DEFAULT NULL COMMENT '鐩樼偣搴撴埧',
  `storage_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '搴撴埧鍚嶇О',
  `plan_date` date DEFAULT NULL COMMENT '璁″垝鏃ユ湡',
  `actual_date` date DEFAULT NULL COMMENT '瀹為檯鏃ユ湡',
  `total_count` int DEFAULT '0' COMMENT '钘忓搧鎬绘暟',
  `checked_count` int DEFAULT '0' COMMENT '宸茬洏鐐规暟閲',
  `missing_count` int DEFAULT '0' COMMENT '缂哄け鏁伴噺',
  `status` int DEFAULT '0' COMMENT '鐘舵?锛?=寰呯洏鐐?1=鐩樼偣涓?2=宸插畬鎴',
  `result` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '鐩樼偣缁撴灉',
  `handler` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '璐熻矗浜',
  `remark` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '澶囨敞',
  `creator_id` bigint DEFAULT NULL COMMENT '鍒涘缓浜',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '鍒涘缓鏃堕棿',
  `update_time` datetime DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP COMMENT '鏇存柊鏃堕棿',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_task_no` (`task_no`),
  KEY `idx_status` (`status`),
  KEY `idx_storage_id` (`storage_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='鐩樼偣浠诲姟琛';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventory_task`
--

LOCK TABLES `inventory_task` WRITE;
/*!40000 ALTER TABLE `inventory_task` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory_task` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `loan_apply`
--

DROP TABLE IF EXISTS `loan_apply`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `loan_apply` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '涓婚敭ID',
  `apply_no` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '鐢宠?缂栧彿',
  `collection_id` bigint DEFAULT NULL COMMENT '钘忓搧ID',
  `collection_no` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '钘忓搧缂栧彿',
  `collection_name` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '钘忓搧鍚嶇О',
  `borrower` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '鍊熷睍鍗曚綅/涓?汉',
  `borrower_contact` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '鑱旂郴浜',
  `borrower_phone` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '鑱旂郴鐢佃瘽',
  `loan_purpose` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '鍊熷睍鐩?殑',
  `exhibition_name` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '灞曡?鍚嶇О',
  `exhibition_venue` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '灞曡?鍦扮偣',
  `start_date` date DEFAULT NULL COMMENT '鍊熷睍寮??鏃ユ湡',
  `end_date` date DEFAULT NULL COMMENT '鍊熷睍缁撴潫鏃ユ湡',
  `insurance_value` decimal(12,2) DEFAULT NULL COMMENT '淇濋櫓閲戦?',
  `insurance_company` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '淇濋櫓鍏?徃',
  `status` int DEFAULT '0' COMMENT '鐘舵?锛?=寰呭?鎵?1=瀹℃壒閫氳繃 2=宸叉嫆缁?3=宸插?鍑?4=宸插綊杩',
  `approver` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '瀹℃壒浜',
  `approve_time` datetime DEFAULT NULL COMMENT '瀹℃壒鏃堕棿',
  `approve_remark` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '瀹℃壒澶囨敞',
  `remark` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '澶囨敞',
  `applicant_id` bigint DEFAULT NULL COMMENT '鐢宠?浜',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '鍒涘缓鏃堕棿',
  `update_time` datetime DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP COMMENT '鏇存柊鏃堕棿',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_apply_no` (`apply_no`),
  KEY `idx_status` (`status`),
  KEY `idx_collection_id` (`collection_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='澶栧?鐢宠?琛';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `loan_apply`
--

LOCK TABLES `loan_apply` WRITE;
/*!40000 ALTER TABLE `loan_apply` DISABLE KEYS */;
/*!40000 ALTER TABLE `loan_apply` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `outbound`
--

DROP TABLE IF EXISTS `outbound`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `outbound` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '涓婚敭ID',
  `outbound_no` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '鍑哄簱鍗曞彿',
  `collection_id` bigint DEFAULT NULL COMMENT '钘忓搧ID',
  `collection_name` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '钘忓搧鍚嶇О',
  `collection_no` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '钘忓搧缂栧彿',
  `quantity` int DEFAULT '1' COMMENT '鏁伴噺',
  `destination` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '鐩?殑鍦',
  `reason` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '鍑哄簱鍘熷洜',
  `storage_id` bigint DEFAULT NULL COMMENT '鍑哄簱搴撴埧',
  `handler` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '缁忔墜浜',
  `outbound_date` date DEFAULT NULL COMMENT '鍑哄簱鏃ユ湡',
  `expected_return_date` date DEFAULT NULL COMMENT '棰勮?褰掕繕鏃ユ湡',
  `status` int DEFAULT '0' COMMENT '鐘舵?锛?=寰呭?鏍?1=宸插嚭搴?2=宸叉嫆缁?3=宸插綊杩',
  `remark` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '澶囨敞',
  `applicant_id` bigint DEFAULT NULL COMMENT '鐢宠?浜',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '鍒涘缓鏃堕棿',
  `update_time` datetime DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP COMMENT '鏇存柊鏃堕棿',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_outbound_no` (`outbound_no`),
  KEY `idx_status` (`status`),
  KEY `idx_collection_id` (`collection_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='鍑哄簱璁板綍琛';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `outbound`
--

LOCK TABLES `outbound` WRITE;
/*!40000 ALTER TABLE `outbound` DISABLE KEYS */;
/*!40000 ALTER TABLE `outbound` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `repair_order`
--

DROP TABLE IF EXISTS `repair_order`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `repair_order` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '涓婚敭ID',
  `order_no` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '宸ュ崟缂栧彿',
  `collection_id` bigint DEFAULT NULL COMMENT '钘忓搧ID',
  `collection_no` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '钘忓搧缂栧彿',
  `collection_name` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '钘忓搧鍚嶇О',
  `damage_level` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '鎹熷潖绛夌骇锛?=杞诲井 2=涓?瓑 3=涓ラ噸',
  `damage_desc` text COLLATE utf8mb4_unicode_ci COMMENT '鎹熷潖鎻忚堪',
  `repair_type` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '淇??绫诲瀷',
  `repair_content` text COLLATE utf8mb4_unicode_ci COMMENT '淇??鍐呭?',
  `repair_cost` decimal(10,2) DEFAULT NULL COMMENT '淇??璐圭敤',
  `status` int DEFAULT '0' COMMENT '鐘舵?锛?=寰呭彈鐞?1=淇??涓?2=宸插畬鎴?3=宸查獙鏀',
  `accept_time` datetime DEFAULT NULL COMMENT '鍙楃悊鏃堕棿',
  `complete_time` datetime DEFAULT NULL COMMENT '瀹屾垚鏃堕棿',
  `accept_remark` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '鍙楃悊澶囨敞',
  `applicant_id` bigint DEFAULT NULL COMMENT '鐢宠?浜',
  `repairer` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '淇??浜',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '鍒涘缓鏃堕棿',
  `update_time` datetime DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP COMMENT '鏇存柊鏃堕棿',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_order_no` (`order_no`),
  KEY `idx_status` (`status`),
  KEY `idx_collection_id` (`collection_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='淇??宸ュ崟琛';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `repair_order`
--

LOCK TABLES `repair_order` WRITE;
/*!40000 ALTER TABLE `repair_order` DISABLE KEYS */;
/*!40000 ALTER TABLE `repair_order` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rfid_device`
--

DROP TABLE IF EXISTS `rfid_device`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rfid_device` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '涓婚敭ID',
  `device_no` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '璁惧?缂栧彿',
  `device_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '璁惧?鍚嶇О',
  `device_type` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '璁惧?绫诲瀷锛歳eader=闃呰?鍣?antenna=澶╃嚎',
  `location` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '瀹夎?浣嶇疆',
  `ip_address` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'IP鍦板潃',
  `status` int DEFAULT '1' COMMENT '鐘舵?锛?=鍦ㄧ嚎 0=绂荤嚎',
  `remark` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '澶囨敞',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '鍒涘缓鏃堕棿',
  `update_time` datetime DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP COMMENT '鏇存柊鏃堕棿',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_device_no` (`device_no`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='RFID璁惧?琛';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rfid_device`
--

LOCK TABLES `rfid_device` WRITE;
/*!40000 ALTER TABLE `rfid_device` DISABLE KEYS */;
/*!40000 ALTER TABLE `rfid_device` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rfid_tag`
--

DROP TABLE IF EXISTS `rfid_tag`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rfid_tag` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '标签ID',
  `tag_code` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'RFID标签编码',
  `collection_id` bigint DEFAULT NULL COMMENT '关联藏品ID',
  `status` tinyint NOT NULL DEFAULT '0' COMMENT '状态：0-空闲 1-已绑定 2-已解绑',
  `bind_time` datetime DEFAULT NULL COMMENT '绑定时间',
  `unbind_time` datetime DEFAULT NULL COMMENT '解绑时间',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT '逻辑删除：0-未删除 1-已删除',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_tag_code` (`tag_code`),
  KEY `idx_collection_id` (`collection_id`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='RFID标签表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rfid_tag`
--

LOCK TABLES `rfid_tag` WRITE;
/*!40000 ALTER TABLE `rfid_tag` DISABLE KEYS */;
/*!40000 ALTER TABLE `rfid_tag` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `storage`
--

DROP TABLE IF EXISTS `storage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `storage` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '涓婚敭ID',
  `storage_no` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '搴撴埧缂栧彿',
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '搴撴埧鍚嶇О',
  `location` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '浣嶇疆',
  `capacity` int DEFAULT NULL COMMENT '瀹归噺',
  `current_count` int DEFAULT '0' COMMENT '褰撳墠钘忓搧鏁',
  `manager` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '绠＄悊鍛',
  `phone` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '鑱旂郴鐢佃瘽',
  `temperature` decimal(5,2) DEFAULT NULL COMMENT '娓╁害(鈩?',
  `humidity` decimal(5,2) DEFAULT NULL COMMENT '婀垮害(%)',
  `status` int DEFAULT '1' COMMENT '鐘舵?锛?=姝ｅ父 0=绂佺敤',
  `remark` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '澶囨敞',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '鍒涘缓鏃堕棿',
  `update_time` datetime DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP COMMENT '鏇存柊鏃堕棿',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_storage_no` (`storage_no`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='搴撴埧琛';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `storage`
--

LOCK TABLES `storage` WRITE;
/*!40000 ALTER TABLE `storage` DISABLE KEYS */;
INSERT INTO `storage` VALUES (1,'k001','东房','地下2',100,0,'刘师傅','1345678899',25.00,12.00,1,'','2026-04-11 22:18:57','2026-04-11 22:55:38');
/*!40000 ALTER TABLE `storage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_dept`
--

DROP TABLE IF EXISTS `sys_dept`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_dept` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '部门ID',
  `parent_id` bigint NOT NULL DEFAULT '0' COMMENT '父部门ID',
  `dept_name` varchar(128) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '部门名称',
  `leader` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '负责人',
  `phone` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '联系电话',
  `email` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '邮箱',
  `sort` int NOT NULL DEFAULT '0' COMMENT '排序',
  `status` tinyint NOT NULL DEFAULT '1' COMMENT '状态：1-正常 0-禁用',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT '逻辑删除：0-未删除 1-已删除',
  PRIMARY KEY (`id`),
  KEY `idx_parent_id` (`parent_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='部门表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_dept`
--

LOCK TABLES `sys_dept` WRITE;
/*!40000 ALTER TABLE `sys_dept` DISABLE KEYS */;
INSERT INTO `sys_dept` VALUES (1,0,'博物馆总馆','管理员','',NULL,1,1,'2026-04-07 22:45:03','2026-04-07 22:45:03',0),(2,1,'藏品管理部','库管员','',NULL,1,1,'2026-04-07 22:45:03','2026-04-07 22:45:03',0),(3,1,'展览策划部','策展员','',NULL,2,1,'2026-04-07 22:45:03','2026-04-07 22:45:03',0),(4,1,'文物保护部','修复师','',NULL,3,1,'2026-04-07 22:45:03','2026-04-07 22:45:03',0),(5,1,'信息技术部','技术员','',NULL,4,1,'2026-04-07 22:45:03','2026-04-07 22:45:03',0);
/*!40000 ALTER TABLE `sys_dept` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_menu`
--

DROP TABLE IF EXISTS `sys_menu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_menu` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '菜单ID',
  `parent_id` bigint NOT NULL DEFAULT '0' COMMENT '父菜单ID',
  `name` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '菜单名称',
  `type` tinyint NOT NULL DEFAULT '1' COMMENT '类型：1-目录 2-菜单 3-按钮',
  `path` varchar(256) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '路由路径',
  `component` varchar(256) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '组件路径',
  `permission` varchar(128) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '权限标识',
  `icon` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '菜单图标',
  `sort` int NOT NULL DEFAULT '0' COMMENT '排序',
  `visible` tinyint NOT NULL DEFAULT '1' COMMENT '是否可见：1-可见 0-隐藏',
  `status` tinyint NOT NULL DEFAULT '1' COMMENT '状态：1-正常 0-禁用',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT '逻辑删除：0-未删除 1-已删除',
  PRIMARY KEY (`id`),
  KEY `idx_parent_id` (`parent_id`)
) ENGINE=InnoDB AUTO_INCREMENT=124 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='系统菜单表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_menu`
--

LOCK TABLES `sys_menu` WRITE;
/*!40000 ALTER TABLE `sys_menu` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_menu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_oper_log`
--

DROP TABLE IF EXISTS `sys_oper_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_oper_log` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '日志ID',
  `title` varchar(128) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '操作标题',
  `business_type` tinyint DEFAULT '0' COMMENT '业务类型',
  `module` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '操作模块',
  `type` tinyint DEFAULT '0' COMMENT '操作类型：0-其他 1-新增 2-修改 3-删除',
  `oper_user` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `oper_url` varchar(512) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '请求URL',
  `method` varchar(256) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT 'Java方法名',
  `request_method` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT 'HTTP请求方法',
  `request_params` text COLLATE utf8mb4_unicode_ci COMMENT '请求参数',
  `response_result` text COLLATE utf8mb4_unicode_ci COMMENT '响应结果',
  `ip` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT 'IP地址',
  `status` tinyint DEFAULT '1' COMMENT '状态：1-正常 0-异常',
  `error_msg` varchar(2048) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '错误消息',
  `oper_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '操作时间',
  PRIMARY KEY (`id`),
  KEY `idx_oper_user` (`oper_user`),
  KEY `idx_oper_time` (`oper_time`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='操作日志表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_oper_log`
--

LOCK TABLES `sys_oper_log` WRITE;
/*!40000 ALTER TABLE `sys_oper_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_oper_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_role`
--

DROP TABLE IF EXISTS `sys_role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_role` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '角色ID',
  `role_name` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '角色名称',
  `role_code` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '角色编码',
  `status` tinyint NOT NULL DEFAULT '1' COMMENT '状态：1-正常 0-禁用',
  `remark` varchar(256) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT '备注',
  `sort` int NOT NULL DEFAULT '0' COMMENT '排序',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT '逻辑删除：0-未删除 1-已删除',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_role_code` (`role_code`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='系统角色表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_role`
--

LOCK TABLES `sys_role` WRITE;
/*!40000 ALTER TABLE `sys_role` DISABLE KEYS */;
INSERT INTO `sys_role` VALUES (1,'超级管理员','super_admin',1,NULL,1,'2026-04-07 22:45:03','2026-04-09 14:28:41',0),(2,'馆长','curator',1,NULL,2,'2026-04-07 22:45:03','2026-04-09 14:28:41',0),(3,'策展员','exhibitor',1,NULL,3,'2026-04-07 22:45:03','2026-04-09 14:28:41',0),(4,'库管员','storekeeper',1,NULL,4,'2026-04-07 22:45:03','2026-04-09 14:28:41',0),(5,'修复师','restorer',1,NULL,5,'2026-04-07 22:45:03','2026-04-09 14:28:41',0),(6,'只读人员','viewer',1,NULL,6,'2026-04-07 22:45:03','2026-04-09 14:28:41',0);
/*!40000 ALTER TABLE `sys_role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_role_menu`
--

DROP TABLE IF EXISTS `sys_role_menu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_role_menu` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键',
  `role_id` bigint NOT NULL COMMENT '角色ID',
  `menu_id` bigint NOT NULL COMMENT '菜单ID',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_role_menu` (`role_id`,`menu_id`),
  KEY `idx_menu_id` (`menu_id`)
) ENGINE=InnoDB AUTO_INCREMENT=202 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='角色菜单关联表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_role_menu`
--

LOCK TABLES `sys_role_menu` WRITE;
/*!40000 ALTER TABLE `sys_role_menu` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_role_menu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_user`
--

DROP TABLE IF EXISTS `sys_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_user` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '用户ID',
  `username` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '用户名',
  `password` varchar(128) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '密码（BCrypt加密）',
  `real_name` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '真实姓名',
  `phone` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '手机号',
  `email` varchar(128) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '邮箱',
  `avatar` varchar(512) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '头像URL',
  `status` tinyint NOT NULL DEFAULT '1' COMMENT '状态：1-正常 0-禁用',
  `dept_id` bigint DEFAULT NULL COMMENT '所属部门ID',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT '逻辑删除：0-未删除 1-已删除',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_username` (`username`),
  KEY `idx_dept_id` (`dept_id`),
  KEY `idx_phone` (`phone`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='系统用户表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_user`
--

LOCK TABLES `sys_user` WRITE;
/*!40000 ALTER TABLE `sys_user` DISABLE KEYS */;
INSERT INTO `sys_user` VALUES (1,'admin','$2a$10$LUXUouKzX0o.v.l7YimQO./2CQ/CPPouVuprimHXlt1NNmnC.Xz1e','超级管理员','13800000001','admin@museum.com','',1,1,'2026-04-07 22:45:03','2026-04-07 22:45:03',0);
/*!40000 ALTER TABLE `sys_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_user_role`
--

DROP TABLE IF EXISTS `sys_user_role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_user_role` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键',
  `user_id` bigint NOT NULL COMMENT '用户ID',
  `role_id` bigint NOT NULL COMMENT '角色ID',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_user_role` (`user_id`,`role_id`),
  KEY `idx_role_id` (`role_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='用户角色关联表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_user_role`
--

LOCK TABLES `sys_user_role` WRITE;
/*!40000 ALTER TABLE `sys_user_role` DISABLE KEYS */;
INSERT INTO `sys_user_role` VALUES (1,1,1);
/*!40000 ALTER TABLE `sys_user_role` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-12 13:52:44
